* {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

body {
  height: 100vh;
  background: #584040;
  display: flex;
  align-items: center;
}

.container {
  width: 2000px;
  height: 1090px;
  margin: 0 auto;
  position: relative;
  background: url("img/bg-cat-jum.jpg");
  overflow: hidden;
}

.cat {
  width: 134px;
  height: 194px;
  position: absolute;
  bottom: 183px;
  left: 42px;
  background: url("img/animation-catu-jump.png") repeat-x 0 0;
  background-position-x: 0;
}

.cat-running {
  animation: walk 0.5s steps(4) infinite;
}

.cat-crashed {
  background-position-x: -252px;
}

.cactus {
  width: 46px;
  height: 96px;
  position: absolute;
  bottom: 16px;
  left: 600px;
  z-index: 1;
  background: url("img/bg-cactu-cat-jump.png") no-repeat;
}

@keyframes walk {
  0% {
    background-position: 0;
  }

  100% {
    background-position: -538px;
  }
}

.catjump {
  animation: catJump 1s linear infinite;
}

@keyframes catJump {
  0% {
    bottom: 183px;
  }

  45%,
  55% {
    bottom: 600px;
  }
}

.floor {
  width: 2560px;
  height: 1440px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: url("img/floor-cat-jump.png") repeat-x 0 0;
}

.score {
  padding: 70px;
  height: 100px;
  position: absolte;
  z-index: 10;
  color: #d48872;
  font-family: Verdana;
  font-size: 50px;
  font-weight: bold;
  text-align: right;
}
