.game {
  width: 2560px;
  height: 1440px;
  margin: auto;
  background-image: url("public/img/bg-cat-jum.jpg");
}

.cat {
  width: 134px;
  height: 194px;
  background-image: url("public/img/animation-catu-jump.png");
}
